<template>
  <PreLoad v-if="!apploaded"/>
  <component :is="layout" v-else-if="loggedIn">
    <router-view />
  </component>
  <Login v-else />
</template>

<script>
import Login from './Login';
import PreLoad from './PreLoad';
import { mapGetters } from 'vuex';

export default {
  components: {
    Login,
    PreLoad,
  },
  data() {
    return {
      secondsSinceLastActivity: 0,
      maxInactivity: 20,
      active: true,
    };
  },
  computed: {
    layout() {
      return `${this.$route.meta.layout || 'default'}-layout`;
    },
    ...mapGetters({
      loggedIn: 'loggedIn',
      apploaded: 'loaded',
    }),
  },
  methods: {
    activityWatcher() {
      setInterval(function () {
        this.secondsSinceLastActivity++;
        if (this.secondsSinceLastActivity > this.maxInactivity) {
          this.active = false;
          // App now reacts to the inactive state and shows a relogin screen
        } else {
          this.active = true;
        }
      }, 1000);
      function activity() {
        this.secondsSinceLastActivity = 0;
      }
      const activityEvents = [
        'mousedown',
        'mousemove',
        'keydown',
        'scroll',
        'touchstart',
      ];
      activityEvents.forEach((eventName) => {
        document.addEventListener(eventName, activity, true);
      });
    },
  },
  watch: {
    // When logged in, and the page reloads the notifications have to be updated
    loggedIn(value) {
      if (value) this.$store.dispatch('updateNotifications');
    },
  },
  created() {
    this.$store.dispatch('startup');
    // this.activityWatcher();
  },
};
</script>
