<template>
  <b-container fluid class="h-100">
    <b-row class="text-center justify-content-center h-100 align-items-center">
      <b-col id="login" cols="auto" class="mb-5">
        <form @submit.prevent="login">
          <h1>Admintools Login</h1>
          <hr />
          <div v-show="!loading && !loggedIn">
            <div>
              <input
                type="text"
                v-model="user"
                class="form-control"
                placeholder="E-Mail/Nutzername"
                required
                autofocus
                autocomplete="username"
                invalid-feedback="Benutzername eingeben"
              />
            </div>
            <div>
              <input
                type="password"
                v-model="password"
                class="form-control"
                placeholder="Passwort"
                required
                autocomplete="current-password"
                invalid-feedback="Bitte Passwort eingeben"
              />
            </div>
          </div>
          <div v-show="loading" class="m-5">
            <i class="fa fa-spinner fa-spin"></i>
          </div>
          <div v-if="wrongpwd" class="text-danger m-3">Falsche Eingabe. Erneut versuchen!</div>
          <hr />
          <div>
            <input type="submit" id="loginbutton" class="btn btn-default submit" value="Log in" />
          </div>
        </form>
      </b-col>
    </b-row>
    <b-row id="footer" class="w-100 text-center justify-content-center">
      <a class="text-muted px-1" href="https://wer-ner.de">WER-NER.de</a>
      ©{{new Date().getFullYear()}} All Rights Reserved.
    </b-row>
  </b-container>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  data() {
    return {
      loading: false,
      wrongpwd: false,
      user: '',
      password: '',
    };
  },
  computed: {
    ...mapGetters({
      loggedIn: 'loggedIn',
    }),
  },
  methods: {
    login() {
      this.loading = true;
      this.$store
        .dispatch('login', {
          user: this.user,
          password: this.password,
        })
        .then(() => {
          this.wrongpwd = false;
          this.loading = false;
        })
        .catch((error) => {
          console.log(error);
          if (error.response && error.response.status == 403) this.wrongpwd = true;
          this.loading = false;
        });
    },
  },
};
</script>
<style scoped>
#login {
  z-index: 1000;
  background-color: #F5F6F8;
}
#footer {
  position: absolute;
  bottom: 3vh;
  z-index: 0;
}
</style>
