<template>
  <d-navbar-nav class="border-left flex-row">
    <li class="nav-item border-right dropdown notifications">
      <a
        class="nav-link nav-link-icon text-center"
        v-d-toggle.notifications
        @click="handleOpenNotification"
      >
        <div class="nav-link-icon__wrapper">
          <i class="material-icons">&#xE7F4;</i>
          <d-badge v-if="pillCount>=1" pill theme="danger">{{pillCount}}</d-badge>
        </div>
      </a>
      <d-collapse id="notifications" class="dropdown-menu dropdown-menu-small">
        <d-dropdown-item v-if="notifications.length==0">
          <div class="notification__all text-center">Derzeit keine Benachichtigungen!</div>
        </d-dropdown-item>
        <d-dropdown-item v-for="element in notifications" :key="element.time" href="#">
          <div class="notification__icon-wrapper" @click="element.onClick">
            <div class="notification__icon">
              <i class="material-icons">{{element.material_icon}}</i>
            </div>
          </div>
          <div class="notification__content" @click="element.onClick">
            <span class="notification__category">{{element.title}}</span>
            <p>{{(element.short_text) ? element.short_text : element.text}}</p>
          </div>
          <div
            class="p-3"
            style="position: absolute; right: 5%; top: 0;"
            @click="handleClickCloseNotification(element)"
          >X</div>
        </d-dropdown-item>
        <d-dropdown-item class="notification__all text-center">Alle Anzeigen</d-dropdown-item>
      </d-collapse>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-nowrap px-3" v-d-toggle.user-actions>
        <img
          v-if="user.picture"
          class="user-avatar rounded-circle mr-2"
          :src="user.picture.url"
          :alt="user.name"
        />
        <span class="d-none d-md-inline-block mt-2">{{user.name}}</span>
      </a>
      <d-collapse id="user-actions" class="dropdown-menu dropdown-menu-small">
        <d-dropdown-item>
          <i class="material-icons">&#xE7FD;</i> Profile
        </d-dropdown-item>
        <d-dropdown-divider />
        <d-dropdown-item class="text-danger">
          <div @click="handleLogout">
            <i class="material-icons text-danger">&#xE879;</i> Logout
          </div>
        </d-dropdown-item>
      </d-collapse>
    </li>
  </d-navbar-nav>
</template>
<script>
import { mapGetters } from 'vuex';
import Swal from 'sweetalert2';

export default {
  computed: {
    ...mapGetters({
      notifications: 'notificationsActive',
      pillCount: 'countUnviewed',
      user: 'sessionData',
    }),
  },
  methods: {
    handleLogout() {
      this.$store.dispatch('logout');
    },
    handleOpenNotification() {
      this.$store.dispatch('updateNotifications');
      this.$store.commit('viewAllNotifications');
    },
    handleClickCloseNotification(notification) {
      Swal.fire({
        title: 'Benachichtigung wirklich ausblenden?',
        text: `Dadurch werden alle zukünftigen Benachichtigungen für ${notification.title} ausgeblendet.`,
        icon: 'question',
        showCancelButton: true,
      }).then((result) => {
        if (result.value) {
          this.$store.commit('deactivateNotification', notification.id);
        }
      });
    },
  },
};
</script>
<style>
.nav-link:hover {
  cursor: pointer;
}
</style>
