<template>
  <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
    <div :class="[contained ? 'container' : 'container-fluid']">
      <div class="row">
        <ul class="nav">
          <li v-for="(item, idx) in menuItems" :key="idx" class="nav-item">
            <d-link class="nav-link" :to="item.to">{{ item.title }}</d-link>
          </li>
        </ul>
        <span class="copyright ml-auto my-auto mr-2">
          <a href="https://wer-ner.de/" target="_blank">Copyright © {{ copyright }} WER-NER.de</a>
        </span>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'main-footer',
  props: {
    /**
     * The copyright information.
     */
    copyright: {
      type: Number,
      default: new Date().getFullYear(),
    },
    /**
     * Whether the footer should be wrapped in a container, or not.
     */
    contained: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {};
  },
  computed: {
    menuItems() {
      const menuItems = [
        {
          title: 'Dashboard',
          to: '/',
        },
      ];
      // Todo: modify menue items
      return menuItems;
    },
  },
};
</script>
